@model WebApplication4.Models.Equipes

@{
    ViewBag.Title = "Details";
}

<style>
    .details-container {
        margin-top: 20px;
    }

        .details-container h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: darkviolet;
        }

        .details-container h4 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .details-container hr {
            margin-top: 10px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #ccc;
        }

        .details-container dl {
            margin-bottom: 20px;
        }

        .details-container dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .details-container dd {
            margin-left: 20px;
            margin-bottom: 10px;
        }

        .details-container ul {
            margin-top: 5px;
            margin-left: 20px;
        }

            .details-container ul li {
                margin-bottom: 5px;
            }

        .details-container p {
            margin-top: 20px;
        }

        .details-container a {
            margin-right: 10px;
        }

    .image-container {
        text-align: center;
    }

        .image-container img {
            display: inline-block;
        }

    .details-table {
        border-collapse: collapse;
        width: 100%;
    }

        .details-table td {
            border: 2px solid #000;
            padding: 8px;
        }

        .details-table dt {
            font-weight: bold;
        }

        .details-table dd {
            margin-left: 0;
            margin-bottom: 10px;
        }

    .team-logo-cell {
        text-align: center;
    }

    .team-logo {
        width: 60%;
        height: 60%;
    }
</style>

<div class="details-container">
    <h2>Details</h2>

    <div class="fullEquipe">
        <h4>@Html.DisplayFor(model => model.NOM_Equipe)</h4>
        <table class="details-table">
            <tr>
                <td class="team-logo-cell">
                    <img class="team-logo" src="~/Images/Equipes/@(Model.ID_Equipe).png" alt="@Model.NOM_Equipe Logo" />
                </td>
                <td>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => model.LIB_Equipe)</dt>
                        <dd>@Html.DisplayFor(model => model.LIB_Equipe)</dd>

                        <dt>@Html.DisplayNameFor(model => model.NOMBRE_VICTOIRES_Equipe)</dt>
                        <dd>@Html.DisplayFor(model => model.NOMBRE_VICTOIRES_Equipe)</dd>

                        <dt>@Html.DisplayNameFor(model => model.NOMBRE_DEFAITES_Equipe)</dt>
                        <dd>@Html.DisplayFor(model => model.NOMBRE_DEFAITES_Equipe)</dd>

                        <dt>@Html.DisplayNameFor(model => model.CONFERENCE_Equipe)</dt>
                        <dd>@Html.DisplayFor(model => model.CONFERENCE_Equipe)</dd>

                        <dt>Les joueurs de l'équipe :</dt>
                        <dd>
                            <ul>
                                @foreach (var player in Model.Joueurs)
                                {
                                    <li class="content">
                                        @Html.DisplayFor(modelItem => player.NOM_Joueur)
                                        -- @Html.DisplayFor(modelItem => player.POSTE_Joueur)
                                    </li>
                                }
                            </ul>
                        </dd>
                    </dl>
                </td>
            </tr>
        </table>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Equipe }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
    </p>
</div>

<style>
    *{
        margin: 0;
    }

    body{
        margin: 0;
    }

    .fullEquipe{
        padding-top: 50px;
    }

    .details-container{
        margin: 0;
    }

    .content{
        color: black;
    }
</style>
